body { 
    background-color: #303030;
    background-position: top left;
    background-image: linear-gradient(to right, #1B243D, #535963);
} 

.container {
    overflow: hidden;
}

.stars {
    position: absolute;
    background: url(../images/stars.png) repeat;
    width: 3072px;
    height: 1536px;
    animation: movement 30s linear infinite;
    -webkit-animation: movement 30s linear infinite;
    z-index: 1;
}

@keyframes movement
{
    0% {
        transform: translate(-1024px,0);
        -webkit-transform: translate(-1024px,0);
        -o-transform: translate(-1024px,0);
        -moz-transform: translate(-1024px,0);
    }
    100% {
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
        -o-transform: translate(0,0);
        -moz-transform:  translate(0,0);
    }
}

@-webkit-keyframes movement
{
    0% {
        transform: translate(-1024px,0);
        -webkit-transform: translate(-1024px,0);
        -o-transform: translate(-1024px,0);
        -moz-transform: translate(-1024px,0);
    }
    100% {
        transform: translate(1024px,0);
        -webkit-transform: translate(1024px,0);
        -o-transform: translate(1024px,0);
        -moz-transform:  translate(1024px,0);
    }
}

div {
    position:absolute;
    height: 100%;
    width:100%;
}

div img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    float: center;
    z-index: 2;
}